In [1]:
import pandas as pd
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
# pip install xlrd

In [3]:
df=pd.read_excel('weather_data.xlsx')#read excel file
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
# copy data of excel file and write to new file
df.to_csv('weather_data_csv.csv',index=True)
df.to_excel('weather_data_excel.xlsx',index=False,sheet_name='wearher2_data')
# write data to weather_data_excel.xlsx file

# Group By

In [7]:
df=pd.read_csv('weather_data_cities.csv')
df.head()

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
4  1/1/2017    mumbai           90          5  Sunny

In [10]:
g=df.groupby('city')
g